{% extends 'base.html' %}

{% block title %}Server Error{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="alert alert-danger shadow">
        <h4>Sorry, something went wrong. The error has been logged for review.</h4>
        <a href=\"/\" class=\"btn btn-primary mt-3\">Return Home</a>
    </div>
    {% if error and config.DEBUG %}
    <div class=\"alert alert-warning mt-4\">
        <strong>Error details:</strong>
        <pre>{{ error }}</pre>
    </div>
    {% endif %}
    </div>
</div>
{% endblock %}
