<!-- Ticker Details Modal -->
<div class="modal fade" id="tickerModal" tabindex="-1" aria-labelledby="tickerModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tickerModalLabel">Ticker Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-sm">
          <tbody>
            <tr>
              <th scope="row">Ticker</th>
              <td id="modalTicker" class="text-primary fw-bold">-</td>
            </tr>
            <tr>
              <th scope="row">Open</th>
              <td id="modalOpen">-</td>
            </tr>
            <tr>
              <th scope="row">Close</th>
              <td id="modalClose">-</td>
            </tr>
            <tr>
              <th scope="row">Current</th>
              <td id="modalCurrent" class="text-success fw-bold">-</td>
            </tr>
            <tr>
              <th scope="row">High</th>
              <td id="modalHigh">-</td>
            </tr>
            <tr>
              <th scope="row">Low</th>
              <td id="modalLow">-</td>
            </tr>
            <tr>
              <th scope="row">Bullish Arrangement</th>
              <td id="modalBullish">-</td>
            </tr>
            <tr>
              <th scope="row">ATR-20</th>
              <td id="modalATR" class="text-info fw-bold">-</td>
            </tr>
            <tr>
              <th scope="row">Stop Loss</th>
              <td id="modalStopLoss" class="text-danger fw-bold">-</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
